<div class="d-flex align-items-center justify-content-between py-2 ps-2 mb-2"
     [ngClass]="{'todo-done': todo.done}">
  {{ todo.text }}
  <div class="buttons-group">
    <button type="button"
            class="btn btn-sm btn-success"
            [hidden]="todo.done"
            (click)="markTodoAsDone(todo)">
      Mark As Done
    </button>
    <button type="button"
            class="btn btn-sm btn-danger mx-2"
            (click)="onDelete(todo)">
      Delete
    </button>
  </div>
</div>
