.cm-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgb(0 0 0 / 35%) 0 0.25rem 0.73rem;
}

.cm-weather-data {
  background-color: rgba(8, 0, 0, 0.45);
  color: #F6EFEB;
  margin-top: 0;
  justify-content: center;

  @media (min-width: 768px) {
    margin-top: 36rem;
  }
}

.cm-temperature {
  font-size: 5rem;
}

.cm-location-name {
  font-size: 2.3rem;
}

.cm-weather-icon {
  max-height: 3.125rem;
  max-width: 3.125rem;
}

.cm-search-wrapper {
  padding-left: 1.43rem;
}

.cm-search-bar {
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid gray;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  height: 2.1rem;
  color: white;
  text-transform: capitalize;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: white;
    opacity: 0.7;
  }
}

.cm-search-button {
  min-height: 4.5rem;
  min-width: 4.68rem;
  color: black;
  background: #D66D32;
  border: 0;
  border-radius: 0;

  &:hover {
    background: #E7BC91;
    color: white;
  }

  &:focus {
    box-shadow: none;
  }
}

.cm-search-icon {
  color: white;
  font-size: 1.25rem;
}

.cm-locations {
  border-bottom: 1px solid gray;
}

.cm-location-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cm-location-item {
  margin-bottom: 1rem;
  color: white;
  font-weight: 500;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    color: #D66D32;
  }
}

.cm-sidebar {
  backdrop-filter: blur(0.2rem);
  background-color: rgba(8, 0, 0, 0.15);
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.18);

  @media (min-width: 768px) {
    backdrop-filter: blur(0.5rem);
  }
}

.cm-weather-details {
  color: white;
  font-weight: 500;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  border: 0;
  background-color: transparent;
  color: white;
}
